<style type="text/css">
  .menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
  }
  .menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
  }
  .menu-heading:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .menu-heading {
    display: block;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #586069;
    background-color: #f3f5f8;
    border-bottom: 1px solid #e1e4e8;
}
</style>
 
<nav class="menu">
  <h3 class="menu-heading">
      Personal settings
  </h3>
  <a href="" class="menu-item"> Profile </a>
  <a href="" class="menu-item"> Account </a>
</nav>