<style type="text/css">
	.bs-docs-header, .bs-docs-masthead{
		position: relative;
		padding: 30px 0;
		color: #cdbfe3;
		background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
		text-shadow: 0 1px 0 rgba(0,0,0,.1);
		background-repeat: repeat-x;
		margin-bottom: 0;
	}
</style>
<%# if current_user %>
  <!-- You are logged in as <%#= current_user.email %><br> -->
  <%#= link_to 'Log Out', logout_path, method: :delete %>
<%# else %>
  <!-- <%#= link_to 'Log In', new_session_path %><br> -->
  <%#= link_to 'Register', new_user_path %>
<%# end %>
<div class = "bs-docs-header" id="content" tabindex="-1">
<!--   <div class="container">
  	 <h1>起步<h1>
  	 <p>简要介绍 Bootstrap，以及如何下载、使用，还有基本模版和案例，等等。</p>
  </div> -->
</div>
<div class="container bs-docs-container">
  <div class="row">
  	<div class="col-md-9" role="main">
      <%= render 'post_page' %> 
    </div>
  	<div class="col-md-3" role="complementary">
  	  <%= render 'tab_page' %>
  	</div>
  </div>
</div>